/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * burglebros implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * burglebros.css
 *
 * burglebros stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (burglebros_burglebros.tpl), and to HTML elements you create dynamically
    (in burglebros.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.stockitem {
    background-size: 480px;
    border-radius: 8px;
    border: 1px solid #3A5A6E;
}

.stockitem_selected {
    border-color: red;
}

#myhand .stockitem, .player_hand .stockitem {
    background-size: 240px;
}

#board_wrap {
    /* float: left; */
}

#board_wrap h3, #board_wrap .clear {
    clear: both;
}

.floor_container {
    display: flex;
    flex-direction: row;
}

.floor {
    position: relative;
    width: 610px;
    height: 650px;
    margin: -10px -10px;
}

.tiles > *, .patrols > * {
    display: flex;
    flex-direction: column;
}

.tiles > .hidden, .patrols > .hidden {
    display: none;
}

.patrols {
    width: 120px;
    margin-left: 32px;
}

.patrol {
    top: 10px;
}

.floor_preview_container {
    margin-top: 42.5px;
}

.floor_preview {
    width: 120px;
    height: 120px;
    border: 1px solid #3A5A6E;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 32px;
    cursor: pointer;
    position: relative;
    padding: 0;
}

.floor_preview_number {
    position: absolute;
    left: -21px;
    top: 35px;
}

.floor_preview_number {
    width: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #3A5A6E;
    text-align: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #3A5A6E;
    border-right-color: transparent;
    padding: 0 3px 0 0;
    margin: 0;
}

.floor_preview.selected .floor_preview_number {
    background: #3A5A6E;
    color: white;
}

.tile-preview {
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #3A5A6E;
    border-style: solid;
}

.back {
    background-color: transparent;
    border-color: #3A5A6E
}

.atrium, .foyer {
    background-color: #F2D649;
}

.camera {
    background-color: #CC3F73;
}

.fingerprint-computer, .laser-computer, .motion-computer {
    background-color: #C6A7BE;
}

.deadbolt, .keypad {
    background-color: #DDA860;
}

.detector, .fingerprint, .laser, .motion, .thermo {
    background-color: #CE5638;
}

.laboratory, .lavatory, .walkway {
    background-color: #ADD0E0;
}

.safe {
    background-color: #74B189;
}

.secret-door, .service-duct {
    background-color: #908A43;
}

.stairs {
    background-color: #86939D;
}

.tile-container {
    position: absolute;
    width: 120px;
    height: 120px;
    margin: 20px 10px;
}

.tile, .card {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 240px;
    border: 1px solid #3A5A6E;
    border-radius: 8px;
    z-index: 0;
}

.tile.tooltip, .card.tooltip, #event_card_dialog.card {
    width: 360px;
    height: 360px;
    background-size: 720px;
    border-radius: 16px;
}

.patrol-discard-container {
    position: relative;
    left: 26px;
    top: 26px;
    width: 240px;
    height: 240px;
}

.patrol-discard {
    position: absolute;
    color: white;
    width: 58px;
    height: 58px;
    background-position: -300% -1200%;
    background-size: 232px
}

.tile-zone {
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 36px;
    width: 90px;
    z-index: 1;
}

.card-zone {
    position: absolute;
    left: 10px;
    bottom: 12px;
    width: 100px;
}

.wall {
    position: absolute;
    background-color: #deb887;
    border: 1px solid #563000;
}

.wall.vertical {
    width: 10px;
    height: 120px;
}

.wall.horizontal {
    width: 120px;
    height: 10px;
}

.token {
    width: 24px;
    height: 24px;
    background-size: 32px;
    border-radius: 50%;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    color: white;
    filter: drop-shadow(1px 1px 3px #000000);
}

.crow, .hack, .open, .keypad {
    color: black;
}

.die {
    border-radius: 3px;
}

.die.patrol {
    background-color: orange;
}

.die.safe {
    background-color: green;
}

